$primary:#333333;
$secondary: #666666;

.App {
  text-align: center;
  background-image: url('./assets/images/background.png');
  min-height: 100vh;
  width: 100%;
  font-size: 12px;
  color: $primary;
  font-family: Roboto;

  a{
    cursor: pointer;
  }

  .home{
    background: url('./assets/images/mainPic.png') no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 200px;  
  }

  .logo{
    background: url('./assets/images/logo.png') no-repeat;
    width: 4em;
    height: 4em;    
  }

  .home-title{
    padding-bottom: 24px;
    font-size: 14px;
  }

  // Header
  .icon-list{
    display: flex;
    
    img{
      padding: 0 10px;
    }
  }

  .search-input{
    background: #F8F8F8;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 16px;
    color: $secondary;
    padding: 5px 40px;
  }


  .route-item:last-child:nth-child(4n - 1) {
    margin-right: calc(24% + 4% / 3);
  }

  .route-item:last-child:nth-child(4n - 2) {
    margin-right: calc(48% + 8% / 3);
  }

  .route-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    width:20%;
    padding: 25px 20px;
    margin: 0 10px 10px 0;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: linear-gradient(138.74deg, rgba(230, 206, 173, 0.3) 8.67%, rgba(242, 229, 210, 0.3) 11.9%, rgba(230, 206, 173, 0.3) 11.91%, 
    rgba(230, 206, 173, 0.3) 13.34%, rgba(230, 206, 173, 0.3) 16.58%, rgba(242, 229, 210, 0.3) 17.66%, 
    rgba(242, 229, 210, 0.3) 30.6%, rgba(230, 206, 173, 0.3) 30.61%, rgba(235, 211, 176, 0.3) 76.26%), #F8F2E5;
    border: 3px solid #FFFFFF;
    font-size: 20px;
    padding: 25px 20px;
    font-weight: 500;
    cursor: pointer;
  }

  .stop-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #F8F8F8;
    width:100%;
    padding: 8px 12px;
    margin: 8px 15px;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-height: 60px;

    &:last-child{
      margin: 8px 15px 15px 15px;
    }

    .name{
        padding-bottom: 1px;
        font-size: 18px;
    }

    .stop-name{
      color: $secondary;
    }

    .dash{
      margin:0 2px;
    }
  }

  .estimated_time{
    margin-right: 8px;
    border: 1px solid #61A68A;
    box-sizing: border-box;
    border-radius: 2px 12px 12px 2px;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color:#438C6F;
    font-weight: bold;
    font-size: 16px;

    &.off{
      background-color: #CCCCCC;
      color: $secondary;
      border: none;
      font-weight: normal;
    }
    
    &.approaching{
      background-color: #61A68A;
      color: #FFFFFF;
      border: none;
      font-weight: normal;
    }

  }

  .map-marker{
    counter-reset: div;
    counter-increment: headerCounter;

    .stationIcon{
      background-image: url("./assets/images/positionIcon.png");
      position: relative;
      overflow: hidden;
      background-repeat:no-repeat;
      background-position:center;
      width: 33px;
      height: 41px;
      margin-left: -10px;
      margin-top: -41px;
      line-height: 24px;
      font-size: 12px;
      border-radius: 4px;
    }
    
    .emptyIcon{
      position: relative;
     
      background-image: url("./assets/images/emptyPositionIcon.png");
      overflow: hidden;
      background-repeat:no-repeat;
      background-position:center;
      width: 33px;
      height: 41px;
      margin-left: -10px;
      margin-top: -41px;
      line-height: 24px;
      font-size: 12px;
      border-radius: 4px;

       &:before{
        content: counter(headerCounter);
        color: #FFFFFF;
        font-size: 10px;
        position: relative;
        right: 1px;
        top: 4px;
       }
    }

    .userIcon{
      background-image: url("./assets/images/user.png");
      background-repeat:no-repeat;
      background-position:center;
      width: 50px;
      height: 50px;
    }
  }
  
  .map{
    position: relative;
    min-height: 100vh;
  }

  .popup-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;

    .popup-title{
      color: $primary;
      font-size: 20px;
      padding-bottom: 15px;
    }

    .popup-wrapper{
      display:flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 16px;
  
      .destination-name{
        margin-left: 8px;
      }
  
      .dash{
        margin:0 2px;
      }
    }
  }
  
}


